@import "tailwindcss";
@theme {
    --grey-25: #dcdcdc;
    --grey-50: #c4c4c4;
    --grey-100: #a7a7a7;
    --grey-200: #8a8a8a;
    --grey-300: #6c6c6c;
    --grey-400: #4f4f4f;
    --grey-500: #424242;
    --grey-600: #353535;
    --grey-700: #282828;
    --grey-800: #1a1a1a;
    --grey-900: #101010;
    --grey-10: #f1f1f1;
    --grey-5: #fcfafa;
    --project-primary-25: #d0d3de;
    --project-primary-50: #b1b5c8;
    --project-primary-100: #8a90ac;
    --project-primary-200: #636c90;
    --project-primary-300: #3c4775;
    --project-primary-400: #152259;
    --project-primary-500: #121c4a;
    --project-primary-600: #0e173b;
    --project-primary-700: #0b112d;
    --project-primary-800: #070b1e;
    --project-primary-900: #040712;
    --project-secondary-25: #d5e7f6;
    --project-secondary-50: #b9d7f1;
    --project-secondary-100: #b9d7f1;
    --project-secondary-200: #73b0e2;
    --project-secondary-300: #509cdb;
    --project-secondary-400: #2d88d4;
    --project-secondary-500: #2671b1;
    --project-secondary-600: #1e5b8d;
    --project-secondary-700: #17446a;
    --project-secondary-800: #0f2d47;
    --project-secondary-900: #091b2a;
    --project-secondary-10: rgba(235, 246, 255, 0.5);
}
body {
  background-color: #f3f4ff;
}
